.main-header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 25px;

	@include breakpoint(large) {
		padding: 0;
	}

	.main-header__wrapper {
		@include breakpoint(large) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			flex: 0 0 100%;
			@include constrained();
			padding: 25px 25px 0 25px;
		}
	}

	.main-header__logo {
		display: block;
		margin-right: auto;
		text-transform: uppercase;
		font-size: 24px;
		font-weight: bold;
		color: $color-white;

		@include breakpoint(medium) {
			font-size: 30px;
		}
		@include breakpoint(large) {
			font-size: 36px;
		}
	}
}

.main-header__desktop-menu {
	display: none;
	@include breakpoint(large) {
		display: flex;
	}

	#menu-menu-1 {
		display: flex;
		list-style: none;

		.menu-item a {
			color: $color-white;
			font-size: 18px;
			padding: 10px 20px;
			display: inline-block;
			transition: all 0.1s ease-in;

			&:hover {
				background-color: darken($color-primary, 10%);
			}
		}

		> .menu-item.is-active > a {
			background-color: darken($color-primary, 10%);

			&:after {
				transform: rotate(90deg);
			}
		}

	}
}

.main-header__mobile-menu {
	display: block;
	margin-left: auto;
	@include breakpoint(large) {
		display: none;
	}

	.js-off-canvas-overlay {
		background: rgba($color-primary, 0.8);
	}

	.off-canvas-menu {
		font-size: 40px;
		line-height: 1;
		color: $color-primary;
	}

	#mobileMenu {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		padding: 25px;

		.off-canvas-close {
			font-size: 40px;
			line-height: 1;
			color: $color-primary;
			margin-left: auto;
		}

		#menu-menu-2 {
			list-style: none;
			margin: 0;
			width: 100%;

			.menu-item {
				margin: 0;
				display: block;
				width: 100%;

				a {
					position: relative;
					color: $color-primary;
					display: block;
					padding: 15px 0;
					border-bottom: 1px solid lighten($color-primary, 50%);
					font-size: 18px;
					font-weight: 500;
					line-height: 1.25;
				}
			}
		}
	}
}
