// ---------------------- Homepage Slider

.homepage-slider {
	position: relative;
	width: 100%;

	.slick-arrow {
		z-index: 10;
		position: absolute;
		display: none !important;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		bottom: 50%;
		background-color: #fff;
		color: $color-primary;
		transition: all 0.2s ease-in;

		&:hover {
			cursor: pointer;
			background-color: lighten($color-primary, 55%);
		}

		&.slick-prev {
			left: 20px;
		}

		&.slick-next {
			right: 20px;
		}

		@include breakpoint(large) {
			display: flex !important;
		}
	}

	.slick-dots {
		z-index: 10;
		display: flex !important;
		align-items: center;
		position: absolute;
		height: 35px;
		bottom: 10px;
		right: 50%;
		transform: translateX(50%);
		margin: 0;
		list-style: none;

		@include breakpoint(large) {
			bottom: 20px;
		}

		li {
			align-items: center;
			justify-content: center;
			background-color: #fff;
			margin: 0 5px;
			text-align: center;
			color: $color-primary;

			button {
				width: 25px;
				height: 25px;
				font-size: 14px;
				font-weight: 700;
				color: inherit;
			}

			&:hover {
				cursor: pointer;
				background-color: lighten($color-primary, 55%);
			}

			&.slick-active {
				background-color: $color-primary;
				color: #fff;
			}
		}
	}

	.homepage-slider__item {
		overflow: hidden;
		position: relative;

		@include breakpoint(large) {
			max-height: 550px;
		}
	}

	.homepage-slider__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		width: auto;
		bottom: 12.5%;
		z-index: 10;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;

		@include breakpoint(large) {

			bottom: 15%;
		}

		h2 {
			display: inline-block;
			background: $color-primary;
			padding: 10px;
			color: #fff;
			font-size: 20px;
			line-height: 1.25;
			margin: 0;
			@include breakpoint(medium) {
				font-size: 24px;
			}
			@include breakpoint(large) {
				font-size: 32px;
				padding: 20px 20px 30px;
				// margin-left: -20px;
			}
		}

		.button {
			white-space: nowrap;
			display: inline-block;
			margin-top: 10px;
			@include breakpoint(medium) {
				font-size: 18px;
			}
			@include breakpoint(large) {
				font-size: 20px;
				margin-top: -20px;
			}
		}
	}

	.homepage-slider__media {
		display: block;
		height: 0;
		overflow: hidden;
		padding-bottom: calc(600 / 1600 * 100%);
		background: white;
		position: relative;

		@media only screen and (max-width: 959px) {
			padding-bottom: calc(960 / 960 * 100%);
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}

		&:after {
			position: absolute;
			z-index: 5;
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to top, rgba(black, 0.5) 0%, rgba(black, 0) 50%);
		}
	}
}
