// ============================================ COLOURS

$color-primary: #3a325b;
$color-white: #fff;
$color-background: #f3f5fa;
$color-secondary: #476d17;

// ============================================ FONTS

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
$font-regular: 'Roboto', sans-serif;

// ============================================ LAYOUT

$global-max-width: 1400px;

// ============================================ MIXINS

@mixin constrained() {
	width: 100%;
	max-width: $global-max-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
}

// ============================================ GLOBAL RULES

body {
	min-height: 100vh;
	font-family: $font-regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-regular;
}
